.detailPageContainer {
    position: absolute;
    width: 730px;
    height: 140px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #FFF;
    color: (255, 255, 255, 1);
    align-items: center;
    margin-left: 355px;
    margin-right: 355px;
    margin-top: -28px;
    justify-content: center;
}

.detailPageContainer .scootText {
    background-color: #fff;
    margin-top: 42px;
    margin-left: 180px;
    position: absolute;
    color: #19202D;
    font-size: 24px;
    font-weight: 700;
}

.scoutLogo {
    align-items: center;
}

.websiteAdress {
    color: #6E8098;
    font-size: 16px;
    font-weight: 400;
    background-color: #fff;
}

.companyButton {
    display: flex;
    width: 147px;
    height: 48px;
    border: none;
    cursor: pointer;
    color: #5964E0;
    font-size: 16px;
    font-weight: 700;
    margin-left: 258px;
    margin-top: -62px;
    margin-left: 380px;
    align-items: center;
    border-radius: 5px;
}

.companyButton p {
    margin-left: 20px;
}

.textcontainer {
    background-color: #fff;
    width: 730px;
    height: 1350px;
    margin-top: 32px;
    border-radius: 6px;

}

.minute {
    background-color: #FFF;
    color: #6E8098;
    font-size: 16px;
    font-weight: 400;
    margin-left: 48px;
    padding-top: 48px;
}

.contract {
    display: inline;
    margin-right: 12px;
    margin-left: 12px;
}

.detailPosition {
    display: inline;
    background-color: #fff;
    margin-left: 48px;
    margin-top: 15px;
    color: #19202D;
    font-size: 28px;
    font-weight: 700;
}

.detailLocation {
    background-color: #fff;
    color: #5964E0;
    font-size: 14px;
    font-weight: 700;
    margin-top: 8px;
    margin-left: 48px;
}

.detailButtonOne {
    width: 141px;
    height: 48px;
    border-radius: 5px;
    background: #5964E0;
    position: absolute;
    margin-left: 200px;
    border: none;
    color: #fff;
    cursor: pointer;
}

.detailButtonOne:hover {
    background-color: rgba(147, 155, 244, 1);
}

.detailTextOne {
    background-color: #fff;
    margin-top: 44px;
    margin-left: 48px;
    margin-right: 43px;
    color: #6E8098;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    align-items: center;
}

.requirements {

    background-color: #fff;
    margin-left: 48px;
    margin-top: 40px;
    color: #19202D;
    font-size: 20px;
    font-weight: 700;
}

.requirementsDetail {
    background-color: #fff;
    margin-top: 28px;
    margin-left: 48px;
    margin-right: 43px;
    color: #6E8098;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.detailExample {
    display: flex;
    background-color: #fff;
}

.detailOvalLogo {
    background-color: #fff;
    width: 4px;
    height: 4px;
    margin-top: 34px;
    display: flex;
    gap: 25px;
    margin-left: 48px;
}

.detailText {
    background-color: #fff;
    color: #6E8098;
    font-size: 16px;
    font-weight: 400;
    margin-left: 44px;
    margin-top: 24px;
}

.willDo {
    background-color: #fff;
    margin-top: 48px;
    margin-left: 48px;
    color: #19202D;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
}

.willDoExp {
    background-color: #FFF;
    margin-top: 28px;
    color: #6E8098;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-left: 48px;
    align-items: center;
}

.numberOneText {
    background-color: #fff;
    width: 603px;
    color: #6E8098;
    margin-top: 24px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    display: flex;
    gap: 28px;
}

.numberOne {
    margin-left: 48px;
    background-color: #fff;
    color: #5964E0;
    color: #5964E0;
    width: 8px;
    height: 26px;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
}

.applynow {
    margin-top: 1629px;
    height: 96px;
    border-radius: 6px;
    background: #FFF;
}

.applyNowExp {
    display: inline-flex;
    background-color: #fff;
    margin-left: 355px;
    margin-top: 23px;
    color: #19202D;
    font-size: 20px;
    font-weight: 700;
}

.digital {
    color: #6E8098;
    font-size: 16px;
    font-weight: 400;
    background-color: #fff;
    margin-left: 355px;
}

.detailButtonTwo {
    width: 141px;
    height: 48px;
    border-radius: 5px;
    background: #5964E0;
    position: absolute;
    margin-left: 355px;
    margin-right: 355px;
    margin-top: 25px;
    border: none;
    color: #fff;
    cursor: pointer;
}

.detailButtonTwo:hover {
    background-color: rgba(147, 155, 244, 1);
}

@media screen and (max-width:768px) {
    .detailPageContainer {
        background: none;
    }

    .company {
        display: none;
    }

    .textcontainer {
        width: 680px;
        margin-left: -300px;
    }

    .detailButtonOne {
        margin-left: 155px;
    }

    .requirements,
    .requirementsDetail,
    .detailExample,
    .detailOvalLogo {
        max-width: 670px;
    }

    .applynow {
        max-width: 768px;
    }

    .applyNowExp {
        margin-left: 55px;
    }

    .digital {
        margin-left: 55px;
    }

    .detailButtonTwo {
        margin-left: 340px;
    }
}

@media screen and (max-width:426px){
   .textcontainer {
        width: 375px;
        margin-left: -300px;
    }

    .detailButtonOne {
        margin-left: 155px;
    }

    .requirements,
    .requirementsDetail,
    .detailExample,
    .detailOvalLogo {
        max-width:  375px;
    }

    .applynow {
        max-width: 425px;
    }

    .applyNowExp {
        margin-left: 55px;
    }

    .digital {
        margin-left: 55px;
    }

    .detailButtonTwo {
        margin-left: 340px;
    }
}